@{
    ViewBag.Title = "UsingIFrame";
}


<div class="wrapper row">
    <div class="wrapper column">
        <h1>MicroFrontEnd - 1</h1>
        <iframe width="100%" src="http://localhost:3001" frameBorder="0"></iframe>
    </div>
    <div class="wrapper column">
        <h1>MicroFrontEnd - 2</h1>
        <iframe width="100%" src="http://localhost:3002" frameBorder="0"></iframe>
    </div>
</div>
